{% extends 'main/layout.html' %}

{% block title %}Клиенты{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>some content here</p>
        {% for i in clients_name %}
            <p>{{ i }}</p>
        {% endfor %}
        <ul>
            <a href="{% url 'clients_set' %}"><button class="btn btn-warning"><i class="fas fa-plus-circle">Настройки клиентов</i></button></a>
            <a href="{% url 'client_add' %}"><button class="btn btn-warning"><i class="fas fa-plus-circle">Добавить клиента</i></button></a>
        </ul>
    </div>
{% endblock %}